@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{font-family: 'Roboto', sans-serif; margin: 0; padding: 0; }
main{padding:16px}
footer{top: 24px; bottom: 24px; left: 0; right: 0; }
img{height: 200px;}
nav{color: black; border-bottom: 1px solid black; padding: 16px;}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
